.nav {
  background: linear-gradient(90deg, #f4c2c2, #fff8f8, #b3c7ff); 
  color: #0077b6; 
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  box-shadow: 0 4px 10px rgba(179, 199, 255, 0.4);
  border-bottom: 2px solid rgba(179, 199, 255, 0.4);
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}

.nav:hover {
  background: linear-gradient(90deg, #b3c7ff, #fff8f8, #f4c2c2);
  box-shadow: 0 4px 14px rgba(179, 199, 255, 0.6);
}


.nav:hover {
  background: linear-gradient(90deg, #ffd700, #fff8f8, #f4c2c2);
  box-shadow: 0 4px 12px rgba(255, 215, 0, 0.4);
}


.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #e79bb4;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #e79bb4;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  transition: all 0.3s;
}


@media (max-width: 768px) {
    .brand{
        font-size: small;
    }
  .nav-links {
    gap: 1rem;
  }

  .nav-links a {
    font-size: 0.9rem; 
  }
}

