.nav {
  background-color: #fff;
  color: #333;
  padding: 1rem 2rem;
  position: relative;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #e79bb4;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #e79bb4;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  transition: all 0.3s;
}

/* Mobile styles */
@media (max-width: 768px) {
    .brand{
        font-size: small;
    }
  .nav-links {
    gap: 1rem;
  }

  .nav-links a {
    font-size: 0.9rem; /* smaller text */
  }
}

